<!DOCTYPE html>
<html>
<head>
  <title>Books</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navigation">
    <%= link_to 'books', books_path %>
    <%= link_to 'users', users_path %>
    <%= link_to 'checkout', checkouts_path %>
    <%= link_to 'profile TODO', books_path %>
    <%= link_to 'logout', logout_path %>
  </div>
<%= yield %>

<a href="https://github.com/gizmomogwai/com.flopcode.books/commit/<%= APP_VERSION %>">com.flopcode.books</a> (<%= APP_VERSION%>)
</body>
</html>
